[submodule "SmartHomeFlutter"]
	path = SmartHomeFlutter
	url = https://github.com/beboi0122/SmartHomeFlutter.git
[submodule "SmartHomeRaspberry"]
	path = SmartHomeRaspberry
	url = https://github.com/beboi0122/SmartHomeRaspberry.git
[submodule "SmartHomeArduino"]
	path = SmartHomeArduino
	url = https://github.com/beboi0122/SmartHomeArduino.git
